@tailwind base;
@tailwind components;
@tailwind utilities;

/* font styles globals */
.font-bold {
    font-weight: 700;
}

/* forms */
.btn-form {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redirects-links-forms {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.padding-form {
    padding: 20px 20px;
}

/* card */

.card-action a {
    color: white !important;
}

